<body>
  <div class="container">
    <div class="saito">
      <div class="">
        <h2><p>BiLeQのコンセプト</p></h2>
        <h4><p>BiLeQは、全国の建築設備系技術者が知識を投稿、共有できるサイトです！</p></h4>
      </div></br>

      <div class="">
        <h2><p>開設のキッカケ</p></h2>
        <h4><p>管理人の前職（建築設備設計）の実体験から発足。</p></h4>
        <h4><p>管理人は現役の設計者だったことに設備系技術者の専用サイトがあればいいなと常々思っていました。</p></h4>
      </div></br>

      <div class="">
        <h2><p>BiLeQの由来は？</p></h2>
        <h4><p>建築設備を英訳するとBilding equipmentなので、頭文字のBとeを抜き取りさらに</p></h4>
        <h4><p>単語内のアルファベットのiLQを組み合わせて命名しました。</p></h4>
        <h4><p>また、他のサイトと被らないサイト名にしたかったので、このスペルにしました。</p></h4>
        <h4><p>ちなみにBiLeQは、ビリックと読みます！</p></h4>
      </div></br>

      <div class="">
        <h2><p>管理人のプロフィール</p></h2>
        <h4><p>名前：コロ</p></h4>

          <a class="js-modal-open" href="", class: "btn">
            <div class="img_wrap">
              <%= image_tag 'BiLeQ.jpg', class: "img-circle pull-right profile-thumb", size: "120x120" %>
            </div>
          </a>

        <h4><p>　　　　　　　〜経歴〜</p></h4>
        <h4><p>　　　　　　　2012〜2016 大学入学〜卒業　建築設備学専攻　設備系研究室所属</p></h4>
        <h4><p>　　　　　　　2016〜2020 大学を卒業後、新卒で某ゼネコンに設備設計職で入社。約4年半会社に務める。</p></h4>
        <h4><p>　　　　　　　2020〜 一念発起してITエンジニアの道に進み、現在に至る。</p></h4>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="modal js-modal">
  		<div class="modal__bg js-modal-close"></div>
  		<div class="modal__content text-center">
  		  <h3>あなたもBiLeQに登録して情報を発信してみませんか？</h3>
  		  <p>是非、投稿質問してみてください！</p>
  			<p>一緒に建築設備業界を盛り上げましょう！！！</p>
  		</div>
  	</div>
	</div>
</body>