/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  flex: 1;
}

.container{
  padding-top: 200px;
  // background-color: rgba(255, 255, 255, 0.7);
}

.saito {
  background-color: rgba(255, 255, 255, 0.7);
}

header {
  z-index: 100;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: rgba(240, 255, 255, 0.95);
  margin-bottom: 100px;
}

a {
  color: #0844a4;
}

i {
  font-size: 20px;
}

.logo{
 color: #0844a4;
}

h1 {
  weight: bolder;
  font-size: 50px;
}

h3 {
  background-color: rgba(255, 255, 224, 0.6);
  display: inline-block;
  padding: 7px;
  border-radius: 25px;
}

h7 {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px;
  border-radius: 25px;
}

ol {
  background-color: rgba(255, 255, 224, 0.6);
  display: inline-block;
  padding: 7px;
  border-radius: 25px;
}

.row {
  margin-bottom: 10px;
  margin-top: 10px;
}

body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#box{
  // background-size: cover;
  // background-attachment: fixed;
  position: fixed;
  z-index: -100;
  height: 100%;
  width: 100vw;
}

.yakei {
  background-image: image-url("yakei.jpg");
  height: 100%;
}
.yakei2 {
  background-image: image-url("yakei2.jpg");
  height: 100%;
}
.yakei3 {
  background-image: image-url("yakei3.jpg");
  height: 100%;
}
.yakei4 {
  background-image: image-url("yakei4.jpg");
  height: 100%;
}

.splash {
  background-image: image-url("hamabe.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.notice {
  color: #FF0000;
}

tr {
  border-color: #777777;
  border-top-style: solid;
  border-bottom-style: solid;
}

.navbar-logo{
  bottom: 0;
}

.wrapper{
  min-height: 100vh;
  position: relative;/*相対位置*/
}

input[type="submit"] {
  width: 110px;
  height: 35px;
}

select {
  font-size: 18px
}

footer {
  width: 100%;
  height: 120px;
  margin-top: 100px;
  background-color: #cccccc;
  bottom: 0; /*下に固定*/
}

.pagination a {
  background-color: rgba(255, 255, 255, 0.7);
  // text-decoration: none;
}

.pagination * {
  // text-decoration: none;
  padding: 18px;
  border-radius: 25px;
}

// .font-center{
//   line-height: 100px;
//   text-align: center;
// }

// .footer-text{
//   margin-bottom: 300px;
//   text-align: center;
// }